.stock-card{
    min-width:100vw;
}
.stock-image{
    width:30vw;
}
.stock-card-description{
    max-width: 45vw;
    margin: 0px 45px;
}
.stock-card-description > p{
    padding-bottom: 15px;
}
.carousel{
    display: flex;
    margin: auto; 
    padding: 0; 
    overflow: hidden;
}
@media(max-width:1000px){
    .stock-image{
        width:40vw;
    }
    .stock-card-description{
        max-width: 40vw;
    }
}
@media(max-width:750px){
    .stock-card-description{
        margin:20px;
        max-width: 65vw;
        text-align: center;
    }
    .stock-image{
        width:60vw;
    }
}