@import url('https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister|Luckiest+Guy|Teko&display=swap');

:root{
    --light-primary-color: #6A76C6;
    --primary-color: #1E2A78;
    --secondary-color:rgb(255, 216, 42);
    --light-secondary-color:#FFCF71;
    --light-tertiary-color:#F8EAEA;
    --tertiary-color:#FF1F5A;
    --header-font-color:#5A5A5A;
    --sub-header-font-color:#848484;
    --paragraph-font-color:#A8A8A8;
    --header-font-family:'Luckiest Guy', cursive;
    --sub-header-font-family: 'Love Ya Like A Sister', cursive;
    --action-call-font-family:'Teko', sans-serif;
    --paragraph-font-family:Arial,sans-serif;
}
*{
    margin: 0%;
    padding: 0%;
    transition: all 0.5s;
}
/* typography */
/* FONT */
*{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0%;
    padding: 0%;
    word-wrap: break-word;
    scroll-behavior: smooth;
    transition: all 0.5s;
}
.header-font{
    font-family: var(--header-font-family); 
    color:var(--header-font-color);
}
.sub-header-font{
    font-family:var(--sub-header-font-family);
    color:var(--sub-header-font-color);
}
.action-call-font{
    font-family: var(--action-call-font-family);
    color:var(--tertiary-color);
}
.paragraph-font{
    font-family: var(--paragraph-font-family);
    color:var(--paragraph-font-color);
}
.underline{
    border-bottom: 3.5px solid var(--secondary-color);
}
/* typography end */

/* color and font size */
/* FONT COLOR */
.paragraph-font-color{
    color:var(--paragraph-font-color) !important;
}
.sub-header-font-color{
    color:var(--sub-header-font-color)!important;
}
.header-font-color{
    color:var(--header-font-color)!important;
}

.primary-color{
    color:var(--primary-color) !important;
}
.secondary-color{
    color: var(--secondary-color) !important;
}
.darken-secondary-color{
    color:var(--light-secondary-color) !important;
}
.tertiary-color{
    color:var(--tertiary-color) !important;
}

/* FONT SIZE */
.xl-font-size{
    font-size: 58px  !important;
}
.l-font-size{
    font-size: 52px !important;
}
.m-font-size{
    font-size: 46px !important;
}
.s-font-size{
    font-size: 32px !important;
}
.xs-font-size{
    font-size: 18.5px !important;
}

/* color and font size end*/

/* actionable items (buttons..) */

/* BUTTONS */
button{
    outline: none;
}
a{
    cursor: pointer;
}

.large-button{
    min-width: 60px;
    width:auto;
    height: auto;
    padding:10px 30px;
    background: #F8F8F8;
    border:none;
    border-radius: 70px;
    color:var(--paragraph-font-color);
    font-family: var(--action-call-font-family);
    font-size: 25px;
}

.medium-button{
    min-width: 60px;
    width:auto;
    height: auto;
    padding:7px 20px;
    background: #F8F8F8;
    border:none;
    border-radius: 70px;
    color:var(--paragraph-font-color);
    font-family: var(--action-call-font-family);
    font-size: 28px;
}

.small-button{
    min-width: 80px !important;
    width: auto;
    height: auto;
    padding:7px 15px;
    background: #F8F8F8;
    border:none;
    border-radius: 15px;
    color:var(--paragraph-font-color);
    font-family: var(--action-call-font-family);
    font-size: 18px;
}

.highlight-button{
    background-color: var(--secondary-color);
    color:var(--primary-color);
    box-shadow: 0px 0px 5px #737373;
}

.secondary-highlight-button{
    background-color: var(--light-tertiary-color);
    color:var(--tertiary-color);
}

/* TAGS */
.tag-primary{
    min-width: 90px;
    background-color: var(--light-primary-color);
    color:white;
    font-family: var(--action-call-font-family);
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}
.tag-secondary{
    min-width: 90px;
    background-color: var(--light-secondary-color);
    color:white;
    font-family: var(--action-call-font-family);
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}
.tag-tertiary{
    background-color: #F4F4F4;
    border-radius: 10px;
    border-width: 2px;
    border-style: dashed;
    border-color: var(--secondary-color);
    padding:5px 10px;
    font-family: var(--action-call-font-family);
    color:var(--primary-color);
}

/* DROPDOWN */
.dropdown-wrapper{
    background: url(arrow.svg) no-repeat right;
    background-size: 25px 25px;
    background-position-x: 100%;
}
.dropdown{
    background: none;
    border: none;
    outline: none;
    font-family: var(--action-call-font-family);
    font-size: 18.5px;
    color:var(--paragraph-font-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align: right;
    min-width: 150px;
}

/* CHECKBOX */
.checkbox{
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    height: auto;
}
.checkbox > input {
    position: absolute;
    cursor: pointer;
    opacity: 0;
}
.tick{
    position: absolute;
    top: 8px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
    box-shadow: 0px 0px 5px #A8A8A8;
    border-radius:10px;
}
.checkbox input:checked ~ .tick {
    background-color: white;
}
.tick:after {
    content: "";
    position: absolute;
    display: none;
}
.checkbox input:checked ~ .tick:after {
     display: block;
}
.checkbox .tick:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid var(--secondary-color);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


/* actionable items (buttons..) end*/
/* Layout */
.center-horizontal{
    display: flex;
    align-content: center;    
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0%;
}

.center-vertical{
    display: flex;
    flex-direction: column;
    align-content: center;    
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0%;
}
.card{
    border-radius: 15;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    min-width: 20vw;
    min-height: auto;
    margin: auto 20px;
    transition: all 0.5s;
}
.full-screen{
    height: 100vh;
}
/* Layout end */

@media(max-width:850px){
    .large-button{
        padding:10px 20px;
        font-size: 20px;
    }
    .medium-button{
        padding:7px 16px;
        font-size: 17.5px;
    }
    .small-button{
        padding:6px 14px;
        font-size: 15.5px;
    }
    .xl-font-size{
        font-size: 45px  !important;
    }
    .l-font-size{
        font-size: 35px !important;
    }
    .m-font-size{
        font-size: 25px !important;
    }
    .s-font-size{
        font-size: 19px !important;
    }
    .xs-font-size{
        font-size: 14.5px !important;
    }

    .m-center-vertical{
        display: flex;
        flex-direction: column !important;
        align-content: center;    
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0%;
    }
    .m-center-horizontal{
        display: flex;
        flex-direction: row !important;
        align-content: center;    
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0%;
    }
    .card{
        min-width: 80vw;
    }
    .tick{
        top:0;
    }
}